<section id="four" class="app__about-container wrapper special">
  <div class="inner">
    <header class="major">
      <h2>¿Por qué crear tu catálogo?</h2>
    </header>
    <div class="app__about-video embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/14866327?autoplay=0&color=ffffff&portrait=0?api=1" width="290" height="169" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="app__about-quote">"Saber cuánto valen los productos de instagram nunca había sido tan fácil"</p>
    <p class="app__about_start--text">
    <%= link_to "Empieza ahora", new_user_registration_path %>
    </p>
  </div>
</section>