<section id="four" class="app__about-container wrapper special">
  <div class="inner">
    <header class="major">
      <h2>¿Por qué crear tu catálogo?</h2>
    </header>
    <div class="app__about-video embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/164485651?autoplay=0&loop=1&color=69D2E7&title=0&byline=0&portrait=0" width="290" height="169" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="app__about-quote">"Saber cuánto valen los productos de instagram nunca había sido tan fácil"</p>
    <p class="app__about_start--text">
      <%  unless user_signed_in?  %>
        <%= link_to "Ingresar con Instagram",
                      user_omniauth_authorize_path(:instagram)
        %>
      <% end %>
    </p>
    <p class="app__about_start--text">
      <a class="typeform-share" href="https://anamariasosam.typeform.com/to/C50lF8" data-mode="1" target="_blank">Quiero recibir más información</a>
      <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
    </p>
  </div>
</section>
