<section class="container">

  <header class="major">
    <h2>¿Quieres unirte?</h2>
  </header>

  <div class="app__about-video embed-responsive embed-responsive-16by9">
    <iframe src="https://player.vimeo.com/video/164485651?autoplay=0&loop=1&color=69D2E7&title=0&byline=0&portrait=0" width="290" height="169" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <p class="app__about-quote">"Saber cuánto valen los productos de Instagram nunca había sido tan fácil"</p>
</section>
