<section id="banner" class="app__intro-container">
  <h1><strong>Catlog</strong> es tu cat치logo virtual</h1>
  <p>Los productos de instagram en un s칩lo lugar</p>
  <ul class="actions">
    <li>
      <%= link_to "Ver cat치logo", catalog_view_path, class: "button special" %>
    </li>
    <li>
      <%= link_to "Conectarse con Instagram", sessions_connect_path, class: "button special" %>
    </li>
  </ul>
</section>
<section id="one" class="wrapper special">
  <div class="inner">
    <header class="major">
      <h2>Los productos m치s buscados</h2>
    </header>
    <%= render "mixins/products"  %>    
  </div>
</section>
