<header class="hero">
  <section class="container">
    <h1 class="hero__headline">Catlog</h1>
    <p class="hero__deck">Los productos de instagram en un sólo lugar</p>
    <div class="hero__actions">
      <%= link_to "Ver catálogo", catalog_view_path, class: "btn btn-default btn-lg btn-transparent" %>
    </div>
  </section>
</header>
