<section id="banner" class="app__intro-container">
  <h2><strong>Catlog</strong> es tu cat치logo virtual</h2>
  <p>Los productos de instagram en un s칩lo lugar</p>
  <ul class="actions">
    <li>
      <%= link_to "Ver cat치logo", catalog_view_path, class: "button special" %>
    </li>
    <li>
      <%= link_to "Crear cat치logo", sessions_connect_path, class: "button special" %>
    </li>

  </ul>
</section>
<%= render "mixins/products"  %>