<section id="three" class="app__partners-container wrapper special">
    <div class="inner">
      <header class="major">
        <h2 class="app__partners_title">Tiendas aliadas</h2>
      </header>
      <div class="app__partners_logos clearfix">
          <% @users.each do |user| %>
            <% if user.store_name? %>
            <figure class="app__partners-figure col-xs-6 col-sm-4 col-lg-6 col-md-4 ">
              <%= link_to  user_path(user.id) do %>
                  <img src="<%= user.store_image %>" class="img-circle app__partners-img" alt="catlog, aliados, <%= user.store_name%>">
              <% end %>
            </figure>
            <% end %>
          <% end %>
      </div>
    </div>
</section>
