.app__about {
  &-catalog--btn {
    margin: 15px;
  }

  &-container{
    margin-top: 0;
    padding-top: 0;
  }

  &_start--text {
    font-size: 1.16em;
    margin: 30px 0;
  }

  &_suggested--container {
    margin-bottom: 20px !important;
  }

  &-video {
    margin-bottom: 50px;
    margin: 20px auto;
  }
}
