// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero {
  @extend .background-purple;
  color: #fff;
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;
  margin-bottom: 30px;

  @include respond-to(xl) {
    padding: 7em 0;
  }

  @include respond-to(l) {
    padding: 6em 0;
  }

  @include respond-to(m) {
    padding: 4em 2em;
  }

  @include respond-to(s) {
    padding: 3em 1.5em;
  }

  @include respond-to(xs) {
    padding: 3em 1em;
  }

  &__actions {
  }

  .btn-transparent {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    transition: background 1s, box-shadow 500ms;

    &:hover {
      background: rgba(255,255,255, 0.1);
      box-shadow: 0 1px 2px rgba(10, 10, 10, .5);
    }
  }

  .stores__editPencil {
    color: darken($primary-color, 30%);
  }

  a {
    font-weight: bold;
  }

  &__headline {
    font-size: 4em;

    @include respond-to(s) {
      font-size: 3em;
    }

    @include respond-to(xs) {
      font-size: 2.75em;
    }
  }

  &__deck {
    font-size: 24px;

    @include respond-to(s) {
      font-size: 18px;
    }

    @include respond-to(xs) {
      font-size: 17px;
    }
  }
}
