.app__partners {

  &-caption {
    margin-left: 5%;
    width: 89%;

    & a {
      color: #000;
    }

    & a:hover {
      color: #000;
    }
  }

  &-container {
    margin-top: 0;
  }

  &-figure {
    margin: 20px 0;
    padding: 0;
    position: relative;
  }
  &-img {
    height: 130px;
    width: 130px;
  }
}
