.app__partners {

  &-caption {
    background-color: $secondary-color;
    margin-left: 5%;
    width: 89%;
  }

  &-container {
    margin-top: 0;
  }

  &-figure {
    margin: 20px 0;
    padding: 0;
    position: relative;
  }
  &-img {
    height: 130px;
    width: 130px;
  }
}
