<%= stylesheet_link_tag 'print', media: 'print' %>

<div class="dashboard__header">
  <div class="container-fluid">
    <h2 class="dashboard__headline">
      Órdenes de producto
      <a href="javascript:window.print()" class="hidden-print btn btn-sm btn-default">Imprimir órdenes</a>
    </h2>
  </div>
</div>

<section class="container-fluid">
  <table class="table table-hover footable" id="js_footableOrders">
    <thead>
      <tr>
        <th data-hide="phone,tablet">#</th>
        <th data-hide="phone">Estado</th>
        <th data-hide="phone">Creada hace</th>
        <th>Por</th>
        <th>Comprando</th>
        <th data-hide="phone">Contacto</th>
        <th class="hidden-print" data-hide="phone">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'orders/order', collection: @orders %>
    </tbody>
  </table>
</section>

<script>
  $(function($){
    $('#js_footableOrders').footable({ phone: 480 }); });
</script>
