<div class="col-xs-4 col-sm-3 col-md-2 ">

  <% if media.already_on_db %>
    <div class="dashboard_gallery-thumbnail">
      <img  src='<%= media.images.thumbnail.url %>'
            class="dashboard_gallery-blur img-responsive"
            alt="product" >
    </div>

  <% else %>

    <%= link_to new_stores_product_path(photo: media.images.standard_resolution.url, photo_id: media.id), class: 'dashboard_gallery-thumbnail dashboard_gallery-active'  do %>

      <img  src='<%= media.images.thumbnail.url %>'
            class="dashboard_gallery-img img-responsive"
            alt="product" >

      <div class="dashboard__actions">
        <i class="fa fa-shopping-bag dashboard_icon"></i>
      </div>

    <% end %>
  <% end %>
</div>
