



<section class="section app__product-container wrapper special">

  <div class="inner">
  <% @users.each do |user| %>
    <img src="<%= user.store_image %>" class="" alt="<%= user.store_name %> ">


    <%= user.store_name%>
    <%= user.email %>
  <% end %>
  </div>
</section>



