<div class="dashboard__header">
  <div class="container-fluid">
    <h2 class="dashboard__headline">
      Crear Producto
    </h2>
    <ol>
      <li>Haz <b>clic</b> en la imagen que desees convertir en producto.</li>
      <li>Agregale un <b>nombre</b>, un <b>precio</b> y una <b>descripción</b>.</li>
      <li>Publicar y Listo !!</li>
    </ol>
  </div>
</div>

<section class="container-fluid">

  <div class="row">
    <% @media.each do |media| %>
      <%= render partial: 'stores/media_item', locals: { media: media } %>
    <% end %>
  </div>

  <%= link_to stores_instagram_media_path(max_id: @media.last.id),
          :class => 'js_nextOnDash btn btn-primary col-md-6 col-md-offset-3 col-sm-offset-3
                       col-sm-6 col-xs-offset-3 col-xs-6' do %>
      Siguiente &#x2192;
  <% end %>
</section>
