.app__registration {
  &_container {
    margin-top: 50px;
  }
  &_form {
    max-width: 370px;
    margin: 0 auto;
  }

  &_form-group {
    & label {
      text-align: left;
    }
  }

  &_image {
    margin: 0 auto;
    margin-bottom: 3em;
  }

  &_message {
    text-align: left;
  }
}