<div class="col-xs-4 col-sm-3 col-md-2 ">

  <% if Product.exists?(:photo_id => media.id) %>
    <div class="dashboard_gallery-thumbnail">
      <img  src='<%= media.images.thumbnail.url %>'
            class="dashboard_gallery-blur dashboard_gallery-img img-responsive" alt="product" >
    </div>

  <% else %>

    <%= link_to new_product_path(photo: media.images.standard_resolution.url, photo_id: media.id), class: 'dashboard_gallery-thumbnail dashboard_gallery-active'  do %>

      <img  src='<%= media.images.thumbnail.url %>'
            class="dashboard_gallery-img img-responsive"
            alt="product" >

      <i class="fa fa-shopping-bag dashboard_icon"></i>
    <% end %>
  <% end %>

</div>
