<div class="sectionHero">
  <div class="container">

    <h4>Bienvenido</h4>
    <h2 class="sectionHero__headline">
      <span class="app__dashboard_username">
        <%= current_user.store_name  %>
      </span>
    </h2>
  </div>
</div>

<section class="container">

  <header class="major">
    <p>Haz <strong>clic</strong> en la imagen que desees convertir en producto.</p>
  </header>

  <div class="row">
    <% @media.each do |media| %>
    <%= render partial: 'users/media_item', locals: { media: media } %>
    <% end %>
  </div>

  <%= link_to users_dashboard_path(max_id: @media.last.id),
          :class => 'js_nextOnDash btn btn-primary   col-md-6 col-md-offset-3 col-sm-offset-3
                       col-sm-6 col-xs-offset-3 col-xs-6' do %>
      Siguiente &#x2192;
    <% end %>
</section>
