<section id="five" class="section app__dashboard-container wrapper special">

  <div class="inner">
    <header class="major">
      <h2 class="app__dashboard-headline">
        Bienvenido

        <span class="app__dashboard_username">
          <%= current_user.store_name  %>
        </span>
      </h2>

      <p>Es hora de convertir tus imagenes en productos</p>
    </header>

    <div class="dashboard-gallery">
      <p>Haz <strong>clic</strong> en la imagen que desees convertir en producto.</p>

      <div class="row">
        <% @recent_media_items.each do |media| %>
          <%= render partial: 'users/media_item', locals: { media: media } %>
        <% end %>
      </div>
    </div>
    <%= link_to users_dashboard_path(max_id: @recent_media_items.last.id),
          :class => 'button special col-md-6 col-md-offset-3 col-sm-offset-3
                       col-sm-6  col-xs-offset-3 col-xs-6' do %>
      Siguiente &#x2192;
    <% end %>
  </div>
</section>
