<header class="sectionHero">
  <div class="container">
    <h2>Anuncio</h2>
  </div>
</header>

<section class="container">
  <%= render partial: "home/login", locals: { devise_login: true } %>
</section>
