// Colors

$menu-color : #FF512F;
$menu-color-active : #F38630;
$primary-color: #8E54E9;
$secondary-color: #7d7d7d;
$title-color: #4776E6;

//  Validation
.success {
  color: #4cae4c;
}

.error {
  color: #c9302c;
}

%background-purple {
  background: $primary-color;
  background: linear-gradient(45deg, $title-color, $primary-color);
}

.bold {
  font-weight: bold;
}
