<header class="hero">
  <section class="container">
    <p class="hero__deck">Los productos de Instagram en un sólo lugar</p>
    <form action="/" class="row js_search-product">

      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" class="js_search-input form-control" placeholder="Buscar con código" name="search" autofocus="autofocus">
          <span class="input-group-btn">
            <input type="submit" class="btn btn-default"  value="Go!">
          </span>
        </div>
      </div>
    </form>
    <br>
    <div class="hero__actions">
      <%= link_to "Ver Productos", catalog_view_path, class: "btn btn-default btn-lg btn-transparent" %>
    </div>
  </section>
</header>
