<header class="hero">
  <section class="container">
    <p class="hero__deck">Los productos de Instagram en un sólo lugar</p>
    <br>
    <div class="hero__actions">
      <%= link_to "Ver Productos", products_path, class: "btn btn-default btn-lg btn-transparent" %>
    </div>
  </section>
</header>
