<div class="container">
  <% if not devise_login %>
    <header>
      <h3>Inicia Sesión</h3>
    </header>
  <% end %>
  <div class="row">
    <div class="col-sm-6">
      <%= link_to user_instagram_omniauth_authorize_path(model: 'customer'), class: "login__link js_instagramLoad" do %>
        <div class="panel login__box">
          <div class="panel-body text-center">
            <%= image_tag 'fan.png', class: 'img-responsive img-circle login__image', lazy: true %>
            <h4 class="login__headline">Comprar a un Click</h4>
            <p class="login__deck">Inicia sesión en el ícono de arriba para <b>comprar</b> rápidamente productos de Instagram.</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-6">
      <%= link_to user_instagram_omniauth_authorize_path(model: 'store'), class: "login__link js_instagramLoad" do %>
      <div class="panel login__box">
        <div class="panel-body text-center">
          <%= image_tag 'store.png', class: 'img-responsive img-circle login__image', lazy: true %>
          <h4 class="login__headline">Vender a un Click</h4>
          <p class="login__deck">Inicia sesión dando click en el ícono de <b>tienda</b> para vender tus productos de Instagram.</p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
