<section class="container partners">

  <header>
    <h3 class="">Tiendas aliadas</h3>
  </header>

  <div class="row text-center">
    <% @stores.each do |store| %>
    <% cache store do %>
      <% if store.name? and store.products.count > 0  %>
        <figure class="partners__figure col-xs-6 col-sm-4 col-md-3">
          <%= link_to store do %>
            <img src="<%= store.image %>" class="img-circle partners__image" alt="catlog, aliados, <%= store.name%>">
          <% end %>
        </figure>
      <% end %>
      <% end %>
    <% end %>
  </div>

</section>
