<div class="col-md-3 columns">
  <h5 class="footer__headline">Compañía</h5>
  <ul class="footer__list">
    <li>
      <%= link_to "Qué es catlog.co", page_path('about_us'), class:"footer__infoLink" %>
    </li>
    <li>
      <a class="footer__infoLink" href="http://pulsosocial.com/2016/07/09/futuro-del-e-commerce-latam-instagram-conoce-la-emprendedora-millenial-lo-esta-impulsando/" target="_blank" >Menciones de prensa</a>
    </li>
    <li>
      <%= image_tag 'https://trustlogo.com/images/new-trustlogos/comodo_secure_seal_76x26_transp.png', alt: 'Trust Logo', lazy: true %>
    </li>
  </ul>
</div>
