<div class="col-md-3 columns">
  <h5 class="footer__headline">Compañía</h5>
  <ul class="footer__list">
    <li>
      <a class="footer__infoLink" href="/pages/about_us">Qué es catlog.co</a>
    </li>
    <li>
      <a class="footer__infoLink" href="http://pulsosocial.com/2016/07/09/futuro-del-e-commerce-latam-instagram-conoce-la-emprendedora-millenial-lo-esta-impulsando/" target="_blank" >Menciones de prensa</a>
    </li>
  </ul>
</div>
