<div class="col-md-3">
  <h5 class="footer__headline">Contact Us</h5>
  <ul class="footer__list">
    <li>
      <%= link_to 'Déjanos un mensaje', new_contact_path, class: "footer__infoLink" %>
    </li>
    <li> <i class="fa fa-map-marker"></i> Atom House -  Calle 8 # 43a-­49, Medellín</li>
    <li>
    </li>
  </ul>
</div>
