<div class="col-md-3">
  <h5 class="footer__headline">Servicio al Cliente</h5>
  <ul class="footer__list">
    <li>
      <%= link_to "Preguntas", page_path('faq'), class:"footer__infoLink" %>
    </li>
    <li>
      <%= link_to "Órdenes & Devoluciones", page_path('orders_and_returns'), class:"footer__infoLink" %>
    </li>
  </ul>
</div>
