<div class="footer__social">
  <a href="#" title="Conecta con nosotros en Google+" >
    <i class="fa fa-google-plus"></i>
  </a>
  <a href="#" title="Conecta con nosotros en Pinterest">
    <i class="fa fa-pinterest"></i>
  </a>
  <a href="#" title="Conecta con nosotros en YouTube">
    <i class="fa fa-youtube"></i>
  </a>
  <a href="#" title="Conecta con nosotros en Instagram">
    <i class="fa fa-instagram"></i>
  </a>
  <a href="#" title="Conecta con nosotros en LinkedIn">
    <i class="fa fa-linkedin"></i>
  </a>
  <a href="#" title="Conecta con nosotros en Twitter">
    <i class="fa fa-twitter"></i>
  </a>
  <a href="#" title="Conecta con nosotros en Facebook">
    <i class="fa fa-facebook"></i>
  </a>
</div>
