<div class="dashboard__header">
  <div class="container-fluid">
    <h2 class="dashboard__headline">
      Productos comprados
    </h2>
  </div>
</div>

<section class="container-fluid">
  <table class="table table-hover">
    <tr>
      <th>#</th>
      <th>Estado</th>
      <th>Comprado hace</th>
      <th>De (tienda)</th>
      <th>Producto</th>
      <th>Método de pago</th>
      <th>Contacto Tienda</th>
      <% if is_store? %>
        <th>Acciones</th>
      <% end %>
    </tr>
    <tbody>
      <%= render @orders %>
    </tbody>
  </table>
</section>
