<li class="dashboard__item">
  <%= link_to customers_dashboard_path, class: "dashboard__link js_instagramLoad" do %>
    <i class="fa fa-home"></i>
    <br>
    <span class="hidden-xs">Dashboard</span>
  <% end %>
</li>

<li class="dashboard__item">
  <%= link_to customers_media_liked_path, class: "dashboard__link js_instagramLoad" do %>
    <i class="fa fa-heart"></i>
    <br>
    <span class="hidden-xs">Fotos Favoritas de Instagram</span>
  <% end %>
</li>

<li class="dashboard__item">
  <%= link_to customers_hashtag_path, class: "dashboard__link js_instagramLoad" do %>
    <i class="fa fa-hashtag"></i>
    <br>
    <span class="hidden-xs">Encuentra productos por hashtag</span>
  <% end %>
</li>

<li class="dashboard__item">
  <%= link_to edit_user_registration_path, class: "dashboard__link "  do %>
    <i class="fa fa-pencil"></i>
    <br>
    <span class="hidden-xs">Editar mi información</span>
  <% end %>
</li>
