<div class="tutorial row">
  <h2 class="tutorial__headline js_tutHeadline invisible"><%= headline %></h2>

  <div class="tutorial__video js_tutVideo col-xs-12 col-sm-6 invisible">
    <iframe src="https://player.vimeo.com/video/17041299<%=url%>?color=E23212"
      webkitallowfullscreen mozallowfullscreen allowfullscreen class="embed-responsive-item tutorial__frame" frameBorder='0' >
    </iframe>
  </div>

  <div class="tutorial__instructions js_tutInstructions col-xs-12 col-sm-6 invisible">

    <h4 class="tutorial__subtitle">Recomendaciones:</h4>
    <ul>
      <% recommendations.each do |recommendation| %>
        <li><%= recommendation %></li>
      <% end %>
    </ul>

    <h4 class="tutorial__subtitle">Pasos:</h4>
    <ul>
      <% steps.each do |step| %>
        <li><%= step %></li>
      <% end %>
    </ul>
  </div>
</div>
