<div class="container">
  <h2>¿Qué es Catlog?</h2>
  <hr>
  <h3>La herramienta más fácil para la venta Online</h3>

  <p>
    Una solución perfecta para las tiendas virtuales de Instagram, los propietarios de tiendas físicas, diseñadores y artesanos independientes que tratan de impulsar sus ventas online.
  </p>
  <p>
    ¿Tienes una cuenta de Instagram y algo para vender? Estás a un paso de conseguir tu propia tienda en línea, de la manera más sencilla, porque solo tienes que publicar tu foto en Instagram, ingresar a catlog.co, añadir la información adicional del producto y ¡listo!
  </p>
  <p>
    ¿ Ya tienes tu propia tienda online, pero no tiene las ventas esperadas?, Catlog es la solución porque podrás convertir tus seguidores en compradores y tendrás una plataforma disponible para todos los dispositivos, que le va a encantar a tus clientes.
  </p>
  <p>
    Instagram es el hogar de millones de personas de todo el mundo que venden artículos personalizados, ropa importada, accesorios y muchos otros maravillosos productos que aún no son descubiertos por tus compradores potenciales. Catlog está aquí para que todos los compradores se enteren de estos productos y los puedan comprar fácilmente.
  </p>
</div>
