<div class="sectionHero">
  <div class="container">
    <h4>Todo empieza con, Hola :)</h4>
    <h2 class="sectionHero__headline">
      Contacto
    </h2>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= render 'form' %>
    </div>
    <div class="col-md-6">
      <%= render 'map' %>
    </div>
  </div>
</div>
