<div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Comenzar en Catlog</h4>
      </div>
      <div class="modal-body">
        <%= link_to user_omniauth_authorize_path(:instagram, model: 'store') do %>
        <i class="fa fa-instagram" aria-hidden="true"></i> Ingresar como tienda
        <% end %>
        <br>
        <%= link_to user_omniauth_authorize_path(:instagram, model: 'customer') do %>
        <i class="fa fa-instagram" aria-hidden="true"></i> Ingresar como comprador
        <% end %>
      </div>
    </div>
  </div>
</div>
