<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div class="text-center">
            <div class="input-group">
                  <input type="search" class="app__search-input form-control" placeholder="Escribe el código">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default app__search-btn">Buscar</button>
                  </span>
                </div>
          </div>
      </div>
    </div>
  </div>
</div>