<footer class="app__footer-container" id="footer">
  <!-- <div class="app__footer_social-container">
    <a href="#" class="app__footer_social-item app__footer_social-item--twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="#" class="app__footer_social-item app__footer_social-item--facebook">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="#" class="app__footer_social-item app__footer_social-item--instagram">
      <i class="fa fa-instagram"></i>
    </a>
    <a href="#" class="app__footer_social-item app__footer_social-item--youtube">
      <i class="fa fa-youtube"></i>
    </a>
  </div> -->
  <div class="copyright">
    <p class="app__footer_text">Made with <i class="fa fa-heart"></i> by <a href="">aire</a>  © <%= Time.now.year %></p>
  </div>

</footer>