<footer class="app__footer-container" id="footer">
  <div class="copyright">
    <p class="app__footer_text">Made with <i class="fa fa-heart"></i> by <a href="http://anamariasosa.com/">Ana María Sosa</a>  © <%= Time.now.year %></p>
  </div>

</footer>