<footer class="footer">
  <div class="copyright">
    <p class="footer__text">
      Made with <i class="fa fa-heart"></i>
      <span class="footer_second">
        by <a href="http://anamariasosa.com/" target="_blank" class="footer__link">Ana María Sosa</a>  © <%= Time.now.year %>
      </span>
    </p>
  </div>

</footer>
