<ul class="dropdown-menu">
  <li id="add__product_path">
    <%= link_to users_dashboard_path, class: 'js_addNewProduct navbar__adminItem' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Crear un producto
    <% end %>
  </li>

  <li id="product_path">
    <%= link_to products_path, class: "navbar__adminItem" do %>
      <span class="glyphicon glyphicon-eye-open"></span>
      Ver mis productos
    <% end %>
  </li>

  <li id="edit_store_path">
    <%= link_to edit_user_registration_path, class: "navbar__adminItem"  do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Editar mi información
    <% end %>
  </li>

  <li>
    <%= link_to(destroy_user_session_path, method: :delete) do %>
      <span class="glyphicon glyphicon-off"></span>
      Cerrar Sesión
    <% end %>
  </li>

</ul>
