// Place all the styles related to the tutorial controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tutorial {
  $root: &;
  // container in BEM is the block itself
  margin-top: 50px;

  &:nth-child(4n-1) {
    #{$root}__video {
      float: right !important;
    }
  }

  &__frame {
    position: absolute;
  }

  &__gif {
    left: 21px;
    position: relative;
    top: 74px;
    width: 257px;
  }

  &__headline {
    text-transform: inherit;
    font-weight: bold;
    margin-bottom: 20px;

    &.invisble {
      opacity: 0;
    }

    &.visible {
      animation: tutorialFade 400ms;
    }
  }

  &__instructions {

    margin-top: 10%;

    @include respond-to(s) {
      margin-top: 0;
    };

    @include respond-to(xs) {
      margin-top: 0;
    };

    &.invisble {
      opacity: 0;
    }

    &.visible {
      animation: tutorialFade 800ms 100ms backwards;
    }
  }

  &__item {
    text-align: left;
    list-style-position: inside;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 1.15em;
    margin-top: 20px;
    text-transform: inherit;
    text-align: left;
  }

  &__video {

    height: 630px;
    text-align: center;

    &.invisble {
      opacity: 0;
    }

    &.visible {
      animation: tutorialFade 600ms;
    }
  }
}

@keyframes tutorialFade {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
