$sidebar-bg: #34425A;
$sidebar-desktop: 175px;
$sidebar-mobile: 60px;
.dashboard {

  background: linear-gradient(to right,  $sidebar-bg $sidebar-desktop,#ebeef0 $sidebar-desktop, #f5f5f5 100%);
  min-height: calc(100vh - 125px);

  @include respond-to(s) {
    background: linear-gradient(to right,  $sidebar-bg $sidebar-mobile,#ebeef0 $sidebar-mobile, #f5f5f5 100%);
  };

  @include respond-to(xs) {
    background: linear-gradient(to right,  $sidebar-bg $sidebar-mobile,#ebeef0 $sidebar-mobile, #f5f5f5 100%);
    margin-top: 10px;
  };

  .container {
    max-width: 100%;
  }

  &__content {
    float: left;
    width: calc(100% - 195px);

    @include respond-to(s) {
      width: calc(100% - #{$sidebar-mobile});
    };
    @include respond-to(xs) {
      width: calc(100% - #{$sidebar-mobile});
    };
  }

  &__header {
    margin-top: 1em;
  }

  &__headline {
    color: #444;
    margin-bottom: 1.5em;
  }

  &__item {
    border-bottom: 1px solid lighten($sidebar-bg, 5%);
    width: 100%;
    text-align: left;

    @include respond-to(xs) {
      text-align: center;
    };
  }

  &__link {
    display: block;
    padding: 19px 0 17px 10px;
    color: #fff;

    @include respond-to(xs) {
      padding-left: 0;
    };

    &:hover {
      background: darken($sidebar-bg, 5%);
      color: #fff;
      text-decoration: none;
      -webkit-box-shadow: inset 0px -3px 12px 0px rgba(0,0,0,0.15);
      -moz-box-shadow: inset 0px -3px 12px 0px rgba(0,0,0,0.15);
      box-shadow: inset 0px -3px 12px 0px rgba(0,0,0,0.15);
    }

    &:active, &:focus {
      background: darken($sidebar-bg, 5%);
      color: #ccc;
      text-decoration: none;
      -webkit-box-shadow: inset 0px -3px 12px 0px rgba(0,0,0,0.15);
      -moz-box-shadow: inset 0px -3px 12px 0px rgba(0,0,0,0.15);
      box-shadow: inset 0px -3px 12px 0px rgba(0,0,0,0.15);
    }

    .fa {
      font-size: 14px;
      margin-right: 3px;

      @include respond-to(xs) {
        font-size: 22px;
      };
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__sidebar {
    border-right: 1px solid lighten($sidebar-bg, 5%);
    float: left;
    width: $sidebar-desktop;

    @include respond-to(s) {
      overflow: hidden;
      width: $sidebar-mobile;
    };

    @include respond-to(xs) {
      overflow: hidden;
      width: $sidebar-mobile;
    };
  }

  &__username {
    margin-bottom: 1.5em;
    margin-top: 0.2em;
  }
}
