.footer {


  clear: both;
  color: #909090;
  width: 100%;

  .fa {
    color: crimson;
  }

  &__copyright {
    background: #fff;
    padding: 25px 50px;
  }

  &__headline {
    color: #333;
    font-weight: bold;
  }

  &__infoLink {
    color: #666;
    &:hover {
      color: #333;
    }
  }

  &__information {
    padding-bottom: 20px;
    background-color: #f1f1f1;
  }

  &__link {
    color: #333333;
    font-weight: bold;
    border-bottom: 1px dotted #fff;

    &:hover {
      border-bottom-style: solid;
      color: #909090;
      font-style: italic;
      text-decoration: none;
    }
  }

  &__list {
    list-style-type: none;
    padding-left: 0;
  }

  &__second {
    @media (max-width: 378px) {
      & {
        display: block;
      }
    }
  }

  &__social {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px 0px;
    .fa {
      color: gray;
      font-size: 22px;
      margin-left: 10px;
      &:hover {
        color: #555;
      }
    }

  }

  &__text {
    font-size: 1.1em;
    text-align: center;
    margin: 0;
  }

}
