.loader {
  background: #FFB75E;
  background: -webkit-linear-gradient(-45deg, #FFB75E, #ED8F03);
  background: -o-linear-gradient(-45deg, #FFB75E, #ED8F03);
  background: -moz-linear-gradient(-45deg, #FFB75E, #ED8F03);
  background: linear-gradient(-45deg, #FFB75E, #ED8F03);
  box-shadow: 1px 1px 2px $menu-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 2px;
  z-index: 99999;

  &--running {
    animation: loader 3500ms ease;
  }

  @at-root {
    @keyframes loader {
      from {
        width: 0
      }
      to {
        width: 100%;
      }
    }
  }
}
