.menu {
  li > a.dropdown-toggle {
    color: #fff !important;
  }

  &_dropdown-item {
    color: #fff;
  }

  &-right {
    &--container {
      padding-right: 35px;
    }
    &--search {
      color: #fff !important;
    }

    &--dropmenu {
      background-color: $menu-color;
      margin-top: -1px !important;

      li {

        padding-left: 0;

        a {
          color: #fff !important;
          &:hover {
            background-color: $menu-color-active !important;
            color: #fff;
          }
        }
      }
    }
  }

  &_nav {

    & {
      background-color: transparent;
      border-color: transparent;
      will-change: top;
    }

    &--container {
      padding: 0;
    }

    &-items {

      background-color: $menu-color;
      margin: 0 !important;
      width: 100%;

      & ul {
        margin: 0;
        margin-right: -6px;
      }
    }

    &-item a{
      color: #fff !important;
    }
    &-hamburguer {

      &--btn,
      &--btn:hover
      {
        background-color: $menu-color !important;
        border-color: transparent !important;
        border-radius: 50% !important;
        height: 44px !important;

        & span {
          background-color: $secondary-color !important;
        }
      }

      &--container {
        padding-left: 29px;
        padding-top: 14px;
      }
    }
  }
}

#user_path.active {
  background-color: $menu-color-active ;
}

#user_path.active,
.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav > .open > ,
{
  & a,
  & a:hover,
  & a:focus {
    background-color: $menu-color-active ;
  }
}
