#loginModal {
  .close {
    background-color: transparent;
    color: #fff !important;
    height: 1em;
    font-size: 6em;
    opacity: 1;
  }
}

.modal {
  &__container  {
    text-align: center;
  }

  &__image {
    border-radius: 6px;
    max-width: 170px;
    margin: 0 auto;
  }

  &__title {
    font-size: 21px;
    text-align: center;
    margin: 10px 0 25px;
  }
}
