.app__search-input {
  height: 39px;
}

.modal-backdrop.in {
  opacity: 0.78;
  filter: alpha(opacity=70);
  background-color: #a7dbd8;
}

.app__search-btn {
  border-radius: 0 8px 8px 0 !important;
  border: 0.4px solid #ccc !important;
  height: 39px !important;
}

@media screen and (max-width: 480px) {
  .app__search-btn {
      padding: 0 10px !important;
  }
}

// Search placeholder responsive
input.large { display: block !important; }
input.small { display: none !important; }
@media (max-width: 405px) {
  input.large { display: none !important; }
  input.small { display: block !important; }
}
