.sectionHero {
  @extend %background-purple;

  color: #fff;

  margin-bottom: 30px;

  padding-top: 15px;
  padding-bottom: 20px;

  &__headline {
    line-height: 1;
    margin-bottom: 5px;
    margin-top: 0;
  }

  &__link {
    color: #fff;
    &:hover {
      color: #fff !important;
    }
  }
}
.mobileHeader {
  float: left;
  padding-top: 7px;
  max-width: 70%;
  padding-left: 10px;

  &__deck {
    margin-top: 3px;
    line-height: 1;
    color: #f0f0f0;
    margin-bottom: 0px;
  }

  &__headline {
    margin: 0;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include respond-to(xs) {
      color: white;
    };

    &:nth-child(1) {
      margin-top: 7px;
    }
  }

  &__link {
    color: #333;

    @include respond-to(xs) {
      color: white;
    };
  }
}
