$space-to-bottom: 20px;
$color: #222;
$color-hover: #444;

.sectionHero {

  margin-bottom: 30px;
  padding-top: $space-to-bottom;

  &__headline {
    line-height: 1;
    margin-bottom: 5px;
    margin-top: 0;
  }

  &__link {
    color: $color;
    border-bottom: 1px dashed lighten($color, 30%);
    text-decoration: none;
    &:hover {
      color: $color-hover !important;
      text-decoration: none;
      border-bottom-style: solid;
    }
  }
}

.mobileHeader {
  float: left;
  padding-top: 7px;
  max-width: 70%;
  padding-left: 10px;

  &__deck {
    margin-top: 3px;
    line-height: 1;
    color: $color;
    margin-bottom: 0px;
  }

  &__headline {
    margin: 0;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:nth-child(1) {
      margin-top: 7px;
    }
  }

  &__link {
    color: $color;
    border-bottom: 1px dashed lighten($color, 30%);
    text-decoration: none;
    &:hover {
      color: $color-hover !important;
    }
  }
}
