.app__catalog {
  &_gallery{

    &-caption {
      text-align: left;
    }

    &-img {
      position: relative;
      text-align: center;
    }

    &-thumbnail {
      margin: 20px 0;
    }

    &-zoom {
      background-color: rgba(0, 0, 0, 0.67);
      border-radius: 50px;
      color: #fff;
      font-size: 17px;
      height: 26px;
      padding: 0px 5px;
      position: absolute;
      right: 5px;
      top: 5px;
      width: 26px;
    }
  }

  &-headline {
    font-size: 2.1em;
  }

  &_link-book {
    margin-top: 30px;
  }

  &-paginator {
    clear: both;
  }

}
