.category {
  text-align: left;

  &__item {
    display: inline-block;
    margin-bottom: 10px;
    transition: margin 400ms ease;

    @include respond-to(s) {
      margin-bottom: 20px;
    };

    @include respond-to(xs) {
      margin-bottom: 20px;
    };
  }

  &__link {
    background-color: #dedede;
    border-radius: 2px;
    color: #666;
    font-family: sans-serif, Arial;
    padding: 5px 15px;
    transition: padding 400ms ease;

    @include respond-to(s) {
      padding: 10px 15px;
    };

    @include respond-to(xs) {
      padding: 10px 15px;
    };

    &:hover,
    &:focus
    {
      background-color: #ededed;
      color: $title-color;
    }
  }

  &__list {
    list-style-type: none;
    padding-left: 0;
  }
}
