$top-to-header: 10px;

//  Footable improvement
.footable-toggle {
  vertical-align: top !important;
  color: $menu-color !important
}

.product {

  @include respond-to(s) {
    margin-top: $top-to-header;
  };

  @include respond-to(xs) {
    margin-top: $top-to-header;
  };

  &__action,
  &__action:hover {
    text-decoration: none !important;
  }

  &__avalability {
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
  }

  &__caption {
    padding-top: 10px;
  }

  &__description {
    font-family: Serif;
    font-size: 16px;
    margin-top: 5px;
  }

  &__figure {
  }

  &__image {
    border: 15px solid white;
    box-shadow: 0 2px 3px rgba(10,10,10, 0.1);

    @include respond-to(xs) {
      margin-top: 20px;
    };
  }

  &__headline {
    color: $primary-color;
    text-align: center;
    word-wrap: break-word;
    height: 50px;
  }

  &__link {
  }

  &__name {
    font-size: 22px;
    margin-top: 0;
    padding-bottom: 20px;
    border-bottom: 1px dotted #ccc;
  }

  &__price {
    color: #333;
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 10px;
  }

  &__searchForm {
    min-height: 50vh;
  }

  &__store {
    padding-bottom: 20px;
    border-bottom: 1px dotted #ccc;
  }

  &__text {
  }

}
.social {
  display: inline-block;
  height: 50px;

  &:nth-child(2) {
    position: relative;
    top: -12px;
  }
}

.productList {
  padding: 0;
  border-color: #eee;
  position: relative;

  &:hover {
    .productList__actions {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }

  &__actions {
    background-color: #ffffff;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    left: 50%;
    padding: 10px 2%;
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translate(-50%, 50%);
    transition: opacity 400ms ease, transform 300ms ease;
    width: 95%;

    @include touch {
      display: none;
    };
  }

  &__by {
    color: #999;
    text-align: right;
  }

  &__image {

    @include respond-to(xl) {
      width: 260px;
      height: 260px;
    };
    @include respond-to(l) {
      width: 210px;
      height: 210px;
    };
    @include respond-to(m) {
      width: 155px;
      height: 155px;
    };
    @include respond-to(xs) {
      min-width: 100px;
      min-height: 100px;
    };
  }

  &__link {
    color: #666;
    font-size: 14px;
    font-weight: bold;

    &:hover {
      color: $secondary-color;
    }
  }

  &__name {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
    width: 100%;

    @include respond-to(l) {
      font-size: 14px;
    };
  }

  &__price {
    color: #404040;
    font-size: 18px;
    font-weight: bold;
  }

  &__store {
    color: #999;
    font-style: italic;
    border-bottom: 1px dotted #ccc;

    &:hover {
      color: #666;
      text-decoration: none;
      border-bottom: 1px solid #777;
    }
  }

  &__separator {
    color: #ccc;
  }

  &__zoom,
  &__more {
    color: #404040;
    font-weight: bold;

    &:hover {
      color: $secondary-color;
    }
  }
}
