// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product {

  &-action {

    &--container {
      display: inline-block;
    }

    &--item,
    &--item:hover {
      color: $menu-color;
      font-size: 2em;
      margin-right: 10px;
      text-decoration: none !important;
    }
  }

  &-caption {
    text-align:left;
  }

  &-container {
    height: 100vh;
    margin-top: 40px;
  }

  &-description {
    margin-bottom: 0 !important;
  }

  &_form {

    &-image {
      margin: 0 auto;
    }

    &--textarea-trix {

      appearance: none;
      background-color: rgba(144, 144, 144, 0.075);
      border-radius: 0;
      border: solid 1px #e3e3e3;
      color: inherit;
      display: block;
      min-height: 200px;
      max-width: 100%;
      outline: 0;
      padding: 0 1em;
      text-decoration: none;

      &:focus {
        border-color: $primary-color;
        box-shadow: 0 0 0 1px $primary-color;
      }
    }
  }

  &-headline {
    text-align: center;
    margin-bottom: 0 !important;

    & h2 {
      margin-top: 0;
    }
  }

  &-img {
    margin-bottom: 20px;
  }

  &_name {
    color: $primary-color;
    text-align: center;
    word-wrap: break-word;
    height: 50px;

    &-countdown {
      font-size: 16px;
    }

    @media (max-width: 320px) {
      & {
        font-size: 15px;
      }
    }
  }

  &_save {
    clear: both;
    margin-top: 20px;
  }

  &_link {
    text-decoration: underline;
  }

}

//  Footable improvement
.footable-toggle {
  vertical-align: top !important;
  color: $menu-color !important
}

.product {

  &__avalability {
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
  }

  &__figure {
  }

  &__image {
  }

  &__caption {
    padding-top: 10px;
  }

  &__headline {
    color: $primary-color;
    text-align: center;
    word-wrap: break-word;
    height: 50px;
  }

  &__link {
  }

  &__name {
    font-size: 22px;
    margin-top: 0;
    padding-bottom: 20px;
    border-bottom: 1px dotted #ccc;
  }

  &__price {
    border-bottom: 1px dotted #ccc;
    color: $primary-color;
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 20px;
  }

  &__store {
    padding-bottom: 20px;
    border-bottom: 1px dotted #ccc;
  }

  &__text {
  }

}
.social {
  display: inline-block;
  height: 50px;

  &:nth-child(2) {
    position: relative;
    top: -12px;
  }
}

.productList {
  padding: 0;
  border-color: #eee;
  &:hover {
    .productList__actions {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  &__actions {
    background-color: #ffffff;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.15);
    display: table;
    padding: 15px 0;
    position: absolute;
    margin-left: 4%;
    opacity: 0;
    top: 50%;
    text-align: center;
    width: 80%;
    transform: translateY(50%);
    transition: opacity 400ms ease, transform 300ms ease;

    @include touch {
      display: none;
    };
  }

  &__by {
    color: #999;
    text-align: right;
  }

  &__link {
    color: #666;
    font-size: 14px;
    font-weight: bold;
  }

  &__name {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
    width: 100%;

    @include respond-to(l) {
      font-size: 14px;
    };
  }

  &__price {
    color: #404040;
    font-size: 18px;
    font-weight: bold;
  }

  &__store {
    color: #999;
    font-style: italic;
    border-bottom: 1px dotted #ccc;

    &:hover {
      color: #666;
      text-decoration: none;
      border-bottom: 1px solid #777;
    }
  }

  &__separator {
    color: #ccc;
  }

  &__zoom,
  &__more {
    color: #404040;
    font-weight: bold;
    padding: 5% 14%;
  }
}
