// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product {

  &-action {

    &--container {
      display: inline-block;
    }
  }

  &-caption {
    text-align:left;
  }

  &-container {
    height: 100vh;
    margin-top: 40px;
  }

  &-description {
    margin-bottom: 0 !important;
  }

  &_form {

    &-image {
      margin: 0 auto;
    }

    &--textarea-trix {
      min-height: 200px;
    }
  }

  &-headline {
    text-align: center;
    margin-bottom: 0 !important;

    & h2 {
      margin-top: 0;
    }
  }

  &-img {
    margin-bottom: 20px;
  }

  &_name {
    color: $primary-color;
    text-align: center;
    word-wrap: break-word;
    height: 50px;

    &-countdown {
      font-size: 16px;
    }

    @media (max-width: 320px) {
      & {
        font-size: 15px;
      }
    }
  }

  &_save {
    clear: both;
    margin-top: 20px;
  }

  &__pagination li {
    padding-left: 0;
  }

  &_link {
    text-decoration: underline;
  }

}

//  Footable improvement
.footable-toggle {
  vertical-align: top !important;
  color: $menu-color !important
}

.product {

  &__action,
  &__action:hover {
    text-decoration: none !important;
  }

  &__avalability {
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
  }

  &__caption {
    padding-top: 10px;
  }

  &__description {
    font-family: Serif;
    font-size: 16px;
    margin-top: 5px;
  }

  &__figure {
  }

  &__image {
    border: 15px solid white;
    box-shadow: 0 2px 3px rgba(10,10,10, 0.1);

    @include respond-to(xs) {
      margin-top: 20px;
    };
  }

  &__headline {
    color: $primary-color;
    text-align: center;
    word-wrap: break-word;
    height: 50px;
  }

  &__link {
  }

  &__name {
    font-size: 22px;
    margin-top: 0;
    padding-bottom: 20px;
    border-bottom: 1px dotted #ccc;
  }

  &__price {
    border-bottom: 1px dotted #ccc;
    color: #333;
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 20px;
  }

  &__searchForm {
    min-height: 50vh;
  }

  &__store {
    padding-bottom: 20px;
    border-bottom: 1px dotted #ccc;
  }

  &__text {
  }

}
.social {
  display: inline-block;
  height: 50px;

  &:nth-child(2) {
    position: relative;
    top: -12px;
  }
}

.productList {
  padding: 0;
  border-color: #eee;
  position: relative;

  &:hover {
    .productList__actions {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }

  &__actions {
    background-color: #ffffff;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    left: 50%;
    padding: 10px 2%;
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translate(-50%, 50%);
    transition: opacity 400ms ease, transform 300ms ease;
    width: 95%;

    @include touch {
      display: none;
    };
  }

  &__by {
    color: #999;
    text-align: right;
  }

  &__link {
    color: #666;
    font-size: 14px;
    font-weight: bold;

    &:hover {
      color: $secondary-color;
    }
  }

  &__name {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
    width: 100%;

    @include respond-to(l) {
      font-size: 14px;
    };
  }

  &__price {
    color: #404040;
    font-size: 18px;
    font-weight: bold;
  }

  &__store {
    color: #999;
    font-style: italic;
    border-bottom: 1px dotted #ccc;

    &:hover {
      color: #666;
      text-decoration: none;
      border-bottom: 1px solid #777;
    }
  }

  &__separator {
    color: #ccc;
  }

  &__zoom,
  &__more {
    color: #404040;
    font-weight: bold;

    &:hover {
      color: $secondary-color;
    }
  }
}
