.app__catalog {
  &_link-book {
    margin-top: 30px;
  }

  &-container {

  }

  &-headline {
    font-size: 2.8em;
    margin-top: 47px;

  }
  &_gallery{

    &-thumbnail {
      margin: 20px 0;
    }

    &-img {
      text-align: center;
      position: relative;
    }
    &-caption {
      text-align: left;
    }
    &-zoom {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 26px;
      height: 26px;
      font-size: 17px;
      border-radius: 50px;
      background-color: rgba(0, 0, 0, 0.67);
      color: #fff;
      padding: 0px 5px;
    }

  }

  &-paginator {
    clear: both;
  }

}

