// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.app__product {

  &-action {

    &--container {
      display: inline-block;
    }

    &--item,
    &--item:hover {
      color: $menu-color;
      font-size: 2em;
      margin-right: 10px;
      text-decoration: none !important;
    }
  }

  &-caption {
    text-align:left;
  }

  &-container {
    height: 100vh;
    margin-top: 60px;
  }

  &-description {
    margin-bottom: 0 !important;
  }

  &_form {

    &-container {
      clear: both;
      text-align: left;

      @media (max-width: 991px) {
        & {
          max-width: 350px;
          margin: 0 auto;
        }
      }
    }

    @media (min-width: 768px) {

    }

    &-image {
      margin: 0 auto;
    }

    &--textarea-trix {
      -moz-appearance: none;
      -ms-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: rgba(144, 144, 144, 0.075);
      border-radius: 0;
      border: solid 1px #e3e3e3;
      color: inherit;
      display: block;
      outline: 0;
      padding: 0 1em;
      text-decoration: none;
      max-width: 100%;

      &:focus {
        border-color: $primary-color;
        box-shadow: 0 0 0 1px $primary-color;
      }
    }
  }

  &-headline {
    text-align: center;
    margin-bottom: 0 !important;
  }

  &-img {
    margin-bottom: 20px;
  }

  &_name {
    color: $primary-color;
    text-align: center;
    word-wrap: break-word;

    @media (max-width: 320px) {
      & {
        font-size: 15px;
      }
    }
  }

  &_notice {
    text-align: center !important;
  }

  &_save {
    clear: both;
    margin-top: 20px;
  }

  &-subtitle {
    font-weight: bold;
  }
}
