
<section class="app__registration_container section wrapper special">
  <div class="inner">
    <header class="major">
      <h2>Iniciar Sesión</h2>
    </header>

    <div class="app__registration_form">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</section>
