<div class="col-xs-4 col-sm-3 col-md-2 ">
    <a  href="<%= media['link'] %>"
        target="_blank"
        class='dashboard_gallery-thumbnail dashboard_gallery-active'>

      <img  src="<%= media['images']['thumbnail']['url'] %>"
            class="dashboard_gallery-img img-responsive"
            alt="product" >

      <div class="dashboard__actions">
        <i class="fa fa-instagram dashboard_icon"></i>
      </div>

    </a>
</div>
