.list {
  &-action {
    color: cornflowerblue;
    font-size: 1.4em;
  }

  &-fields th{
    color: #459;
    padding-left: 0;
  }

  &-image {
    width: 64px;
  }

  &-link a {
    color: $menu-color;
  }

  &-values td{
    vertical-align: middle !important;
  }
}

// Footable plugin improvements
.footable-toggle {
  color: cornflowerblue !important;
  margin-top: 19px;
  margin-right: 10px;
}

.footable-row-detail-inner{
  padding-left: 5px;
  text-align: left;
}
.footable-row-detail-name{
  color: gray;
  line-height: 1.4;
}
