.list {
  &-action {
    color: $primary-color;
    font-size: 1.4em;
  }

  &-container {
    margin: 20px 0px;
  }

  &-fields th{
    color: $menu-color;
    padding-left: 0;
  }

  &-fields th, &-values {
    text-align: center;
  }

  &-image {
    width: 58px;
  }

  &-values td{
    vertical-align: middle !important;
  }
}

// Footable plugin improvements
.footable-row-detail-inner{
  padding-left: 5px;
  text-align: left;
}
.footable-row-detail-name{
  color: $menu-color;
}
