// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.stores{
  &__form {
    @include respond-to(s) {
      & td {
        display: block;
      }
    }
    @include respond-to(xs) {
      & td {
        display: block;
      }
    }
  }

  &__edit_pencil,
  {
    color: #fff !important;

    &:hover {
      color: $menu-color !important;
    }
  }

  &__text,
  &__text a {
    font-weight: 100 !important;
    color: #fff !important;
  }
}
