// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media (min-width:768px) {
  .stores-img {
    margin: 60px 0;
  }
}
