.app__dashboard{
  &_gallery {

    &-img {
      position: relative;
    }

    &-thumbnail {
      border: none !important;
    }

    &-new {
      color: transparent;
      font-size: 40px;
      height: 100%;
      left: 0;
      padding-left: 15%;
      padding-top: 24%;
      position: absolute;
      top: 0;
      width: 89%;
    }

    &-new:hover {
      color: $primary-color;
      cursor: pointer;
    }
  }

  &_username {
    @media (max-width: 350px) {
      & {
        font-size: 20px;
      }
    }
  }
}
