// Gems
@import "normalize-rails";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "trix";
@import "lightbox";

@import "base/variables";

@import "theme";

@import "layout/footer";
@import "layout/flash_notices";
@import "layout/menu";
@import "layout/modal-search";

@import "components/home/intro";
@import "components/home/about";
@import "components/home/partners";

@import "components/catalog/products";
@import "components/catalog/catalog";

@import "components/users/dashboard";
@import "components/users/list";
@import "components/users/stores";

@import "components/legal/privacy";

@import "components/devise/registration";
@import "components/devise/errors";

@import "components/tutorial/tutorial";

@import "lightbox2";

// Vendor
@import "footable/footable.core.min.css";

.app {
  &__container {
    width: 100%;
    padding: 0;
    min-height:100%;
  	position:relative;
  }

  &__content {
    padding-bottom: 200px;
  }

   &__bold-text {
    font-weight: bold;
  }
}
