// Gems
@import "normalize-rails";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "trix";
@import "lightbox";

@import "base/variables.scss";
@import "flipBook/style.scss";

@import "theme.scss";

@import "layout/footer.scss";
@import "layout/menu.scss";
@import "layout/modal-search.scss";

@import "components/home/intro.scss";
@import "components/home/about.scss";
@import "components/home/partners.scss";

@import "components/catalog/products.scss";
@import "components/catalog/catalog.scss";
@import "components/catalog/book.scss";

@import "components/users/dashboard.scss";
@import "components/users/list.scss";

@import "components/legal/privacy.scss";

@import "components/devise/registration.scss";
@import "components/devise/errors.scss";

@import "lightbox2.scss";

// Vendor
@import "footable/footable.core.min.css";

.app {
  &__container {
    width: 100%;
    padding: 0;
  }

   &__bold-text {
    font-weight: bold;
  }
}
