<% content_for :title, @category.name + " - " %>

<section id="two" class="section small__catalog wrapper special">
  <div class="inner">

    <header class="major">
      <h2 class="catalog__headline"><%= @category.name %></h2>
      <%= render 'categories/list' %>
    </header>

    <div class="gallery ">
      <%= render 'catalog/products' %>
    </div>

    <div class="paginator text-center">
      <%= paginate @catalog_products %>
    </div>
  </div>
</section>
