<section class="app__registration_container section wrapper special">
  <div class="inner">
    <header class="major">
      <h2>¡Hola <%= @resource.email %>!</h2>
    </header>
  </div>
  <div>
    <p>Has solicitado un cambio de contraseña, puedes hacerlo a través del siguiente link</p>
    <p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>
    <p>Si no solicitaste este cambio, por favor ignora este email.</p>
    <p>El cambio no se hará hasta que ingreses al link</p>
  </div>
</section>
