<section class="section wrapper special">

  <div class="inner">
    <header class="major">
      <h2> Tutoriales</h2>
      <p>Todo lo que necesitas saber</p>
    </header>

    <div class="tutorial__container clearfix">
      <div class="tutorial__video_container col-md-6 col-lg-6">
        <iframe src="https://player.vimeo.com/video/164485651?autoplay=0&loop=1&color=69D2E7&title=0&byline=0&portrait=0" width="290" height="169" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="tutorial__instructions_container col-md-6 col-lg-6">
        <h4 class="tutorial__instructions_headline">Crear una cuenta</h4>
        <p class="tutorial__instructions_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit obcaecati voluptatem delectus tenetur non, quas, dolor illo recusandae maxime velit, sit temporibus atque numquam reiciendis nam. In iusto nulla, modi.</p>
      </div>
    </div>
    <hr>
    <div class="tutorial__container clearfix">
      <div class="tutorial__video_container col-md-6 col-lg-6">
        <iframe src="https://player.vimeo.com/video/164485651?autoplay=0&loop=1&color=69D2E7&title=0&byline=0&portrait=0" width="290" height="169" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="tutorial__instructions_container col-md-6 col-lg-6">
        <h4 class="tutorial__instructions_headline">Crear una cuenta</h4>
        <p class="tutorial__instructions_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit obcaecati voluptatem delectus tenetur non, quas, dolor illo recusandae maxime velit, sit temporibus atque numquam reiciendis nam. In iusto nulla, modi.</p>
      </div>
    </div>
    <hr>
    <div class="tutorial__container clearfix">
      <div class="tutorial__video_container col-md-6 col-lg-6">
        <iframe src="https://player.vimeo.com/video/164485651?autoplay=0&loop=1&color=69D2E7&title=0&byline=0&portrait=0" width="290" height="169" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="tutorial__instructions_container col-md-6 col-lg-6">
        <h4 class="tutorial__instructions_headline">Crear una cuenta</h4>
        <p class="tutorial__instructions_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit obcaecati voluptatem delectus tenetur non, quas, dolor illo recusandae maxime velit, sit temporibus atque numquam reiciendis nam. In iusto nulla, modi.</p>
      </div>
    </div>

  </div>
</section>
