<div class="activities__icon">
  <i class="fa fa-heartbeat"></i>&nbsp;
  <b>Tu Actividad</b>
</div>
<% if @activities.size > 0 %>
  <% @activities.each do |activity| %>
    <p class="activities__row">
      <%= render_activity activity %>
    </p>
  <% end %>
<% else %>
  <p class="activities__row">
    Ahora no tienes actividades realizadas, aquí vas a ver enlaces a tus productos y a las órdenes.
  </p>
<% end %>
