<div class="row">
  <div class="col-xs-1">
    <div class="updates__icon">
      <i class="fa fa-bell"></i>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <% if @announcements.size > 0 %>
      <% @announcements.each do |announcement| %>
        <div class="updates__row">
          <%= announcement.message.html_safe %>
        </div>
      <% end %>
    <% else %>
      <div class="updates__row">
        <% if current_user.type == "Store" and current_user.hashtag? %>
          <p> Tu hashtag <b><%= current_user.hashtag %></b>
             ha sido usado <b><%= @hashtag_count %></b> veces. ¿No es el hashtag de tu marca?, puedes editarlo en
            <%= link_to "editar mi información", edit_user_registration_path %>
          </p>
        <% else %>
          <p>
            Añade un hashtag a tu cuenta para que podamos analizar tus interacciones
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
