<ul class="dashboard__list">
  <li class="dashboard__item">
    <a href="" class="dashboard__link">
      <i class="fa fa-home"></i>
      <br>
      Dashboard
    </a>
  </li>
  <% if current_user.type.eql?("Store") and current_user.pilot? %>
    <%= render 'shared/menu/store_menu' %>
  <% else current_user.type == "Customer" %>
    <%= render 'shared/menu/customer_menu' %>
  <% end %>
  <li class="dashboard__item">
    <%= link_to new_contact_path, class: 'dashboard__link' do %>
      <i class="fa fa-envelope"></i>
      <br>
      Sugerencias
    <% end %>
  </li>
</ul>
