<ul class="dashboard__list">
  <% if current_user.type.eql?("Store") and current_user.pilot? %>
    <%= render 'shared/menu/store_menu' %>
  <% else current_user.type == "Customer" %>
    <%= render 'shared/menu/customer_menu' %>
  <% end %>
  <li class="dashboard__item">
    <%= active_link_to 'Sugerencias', new_contact_path, 'dashboard__link', 'envelope' %>
  </li>
</ul>
