<section id="eight" class="section app__edit-container wrapper special">
  <div class="inner clearfix">
    <% if user_signed_in? %>
      <header class="sectionHero">
        <div class="container">
          <h2>Editar Producto</h2>
        </div>
      </header>
      <%= render 'form' %>
    <% else %>
      <header class="major">
        <h2 class="app__edit_title">Debes iniciar sesión</h2>
      </header>
    <% end %>
  </div>
</section>
