<header class="sectionHero">
  <div class="container">
    <h2 class="">Mis productos</h2>
  </div>
</header>

<section class="container js_sortProducts">
  <%= form_tag products_path, method: :get, class: 'product__searchForm', id: 'js_productSearch' do %>
    <div class="navbar-form navbar-left search-form">
      <%= text_field_tag(
          :search,
          params[:search],
          placeholder: "Buscar Producto",
          class: "form-control",
          id: "js_searchField"
      ) %>
      <%= submit_tag "Buscar", :name => nil, class: 'btn btn-default' %>
    </div>

    <div class="js_userProducts">
      <%= render 'store_products' %>
    </div>
  <% end %>
</section>
