<header class="dashboard__header">
  <div class="container-fluid">
    <h2 class="dashboard__headline">Nuevo Producto</h2>
  </div>
</header>

<section class="container-fluid">
  <div class="row">
    <%= render 'form' %>
  </div>
</section>
